<%- include('template/cabecera', {'tituloWeb': 'Pagina mascotas' }); %>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody>
            <% if (arrayMascotas.length>0) { %>
                <% arrayMascotas.forEach(element=> { %>
                    <tr>
                        <th scope="row"><%= element.id %> </th>
                        <td><%= element.nombre %> </td>
                        <td><%= element.desc %> </td>
                        <td>@mdo</td>
                    </tr>
                <% }) %>
            <% } %>
        </tbody>
    </table>
</div>

<%- include('template/footer') %>